@font-face {
    font-family: Raleway-Black;
    src: url(fonts/Raleway-Black.ttf);
    font-size: 900px;
}
@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
    font-size: 700px;
}
@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-Thin;
    src: url(fonts/Raleway-Thin.ttf);
    font-size: 100px;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
    font-size: 700px;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}